@import url('https://fonts.cdnfonts.com/css/strasua');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

// variables

// fuentes
$font-titulos: 'Strasua', sans-serif;
$font-sub-text: 'Helvetica Neue', sans-serif;
$font-cajas: "Permanent Marker", cursive;

// paleta de colores
$color1: #000;
$color2: #fff;
$color3: #535050;
$color4: #1b1a1a;
$color5: #e7e6e6;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-sub-text;
}


/* estilos nav-bar*/

.navbar-brand {
    font-family: $font-titulos;
    font-size: 37px;
    text-align: center;
    margin-left: 14px;
}


.collapse{
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.collapse{
    a{
        font-size: 19px;
        margin-right: 10px;
    }
    
}

.navbar{
    box-shadow: 0 0 15px black;
    z-index: 1;
}

/* contacto */

// formulario

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 60px;
    form{
        width: 300px;
        background-color: rgba(162, 152, 152, 0.125);
        padding: 30px;
        text-align: center;
        box-shadow: 0 0 10px rgba(176, 168, 168, 0.504);
        h3{
            text-align: center;
            font-size: 25px;
            color: $color1;
            margin-bottom: 30px;
        }
    
    }
}

input{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.584);
    padding: 18px 18px;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    border: 0;
    border-radius: 15px;
    

}

.enviar{
    height: 35px;
    background-color: $color5;
    color: $color1;
    transition: all .3s;
    cursor: pointer;
    padding-top: 8px;
    font-size: 15px;
    &:hover{
        background-color: $color3;

    }
    
}

.contacto{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .text-contacto{
        margin-top: 30px;
        h3{
            font-size: 27px;
        }
        .ul-telefono{
            list-style: none;
            padding-top: 7px;
            li{
                font-size: 20px;
                padding: 5px;
            }
        }
        .ul-redes{
            list-style: none;
            display: flex;
            a{
                color: $color1;
                text-decoration: none;
                font-size: 40px;
                letter-spacing: 40px;
            }
        }

    }
}





/* footer */

footer{
    background-color: $color1;
    height: 350px;
    box-shadow: 0 0 12px $color1;
}

.contenedor-footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-top: 150px;
    font-size: 17px
}

.contenedor-footer{
    li{
        list-style: none;
        color: $color3;
        padding: 3px;
    }
    
}

.contenedor-footer{
    a{
        text-decoration: none;
        color: $color3;
        &:hover{
            color: $color5;
        }
    }
    

}

.redes{
    font-size: 27px;
}

.contacto-icon{
    margin-right: 10px;
    font-size: 24px;
}

.titulo-list-footer{
    font-size: 27px;
    margin-bottom: 7px;
}

.text-footer{
    text-align: center;
    margin-top: 40px;
    color: $color3
}