@import url('https://fonts.cdnfonts.com/css/strasua');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

// variables

// fuentes
$font-titulos: 'Strasua', sans-serif;
$font-sub-text: 'Helvetica Neue', sans-serif;
$font-cajas: "Permanent Marker", cursive;

// paleta de colores
$color1: #000;
$color2: #fff;
$color3: #535050;
$color4: #1b1a1a;
$color5: #e7e6e6;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-sub-text;
}

/* media queris */
// contacto

@media (max-width: 850px){
    .contacto{
        display: block;
        
    }
}

@media (max-width: 850px){
    .text-contacto{
        text-align: center;
    }
}

// nuevos

@media (max-width: 850px){
    .contenedor-nuevos-1 h2{
        font-size: 70px;
    }
}

@media (max-width: 850px){
    .contenedor-nuevos-1 a{
        font-size: 17px;
    }
}

@media (max-width: 850px){
    .contenedor-nuevos-2 h2{
        font-size: 70px;
    }
}

@media (max-width: 850px){
    .contenedor-nuevos-2 a{
        font-size: 17px;
    }
}

@media (max-width: 850px){
    .contenedor-nuevos-3 h2{
        font-size: 70px;
    }
}

@media (max-width: 850px){
    .contenedor-nuevos-3 a{
        font-size: 17px;
    }
}

@media (max-width: 850px){
    .proximos p{
        font-size: 20px;
    }
}

// jordan

@media (max-width: 900px){
    .titulo-carrusel2{
        font-size: 30px;
        text-align: center
    }
    .parrafo-carrusel2{
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 770px){
    .titulo-carrusel-2{
        font-size: 25px;
    }
    .parrafo-carrusel2{
        font-size: 16px;
    }
}

@media (max-width: 1160px){
    .contenedor-1-jordan{
        display: block;
        margin-left: 50px;
    }
}

@media (max-width: 1160px){
    .card-img-top{
        object-fit: cover;
    }
}

//productos

@media (max-width: 1200px){
    .contenedor-productos-2{
        display: block;
    }
}

//inicio

@media (max-width: 900px){
    .titulo-carrusel-1{
        font-size: 40px;
        text-align: center;
    }
    .parrafo-carrusel-1{
        font-size: 17px;
        text-align: center;
    }
    .titulo-carrusel-2{
        font-size: 40px;
        text-align: center;
    }
    .parrafo-carrusel-2{
        font-size: 17px;
        text-align: center;
    }
    .titulo-carrusel-3{
        font-size: 40px;
        text-align: center;
    }
    .parrafo-carrusel-3{
        font-size: 17px;
        text-align: center;
    }
}

@media (max-width: 950px){
    .calzado-destacado{
        display: block;
        padding-left: 90px;
    }
}

@media (max-width: 950px){
    .calzado{
        display: block;
        margin-left: 75px;
    }
}

@media (max-width: 950px){
    .we-are{
        font-size: 25px;
    }
    .nosotros{
        height: auto;
    }
}