@import url('https://fonts.cdnfonts.com/css/strasua');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

// variables

// fuentes
$font-titulos: 'Strasua', sans-serif;
$font-sub-text: 'Helvetica Neue', sans-serif;
$font-cajas: "Permanent Marker", cursive;

// paleta de colores
$color1: #000;
$color2: #fff;
$color3: #535050;
$color4: #1b1a1a;
$color5: #e7e6e6;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-sub-text;
}


/* estilos nav-bar*/

.navbar-brand {
    font-family: $font-titulos;
    font-size: 37px;
    text-align: center;
    margin-left: 14px;
}


.collapse{
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.collapse{
    a{
        font-size: 19px;
        margin-right: 10px;
    }
    
}

.navbar{
    box-shadow: 0 0 15px black;
    z-index: 1;
}

/* nuevos */

.contenedor-nuevos-1{
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url(../aseets/dunk-nuevo.jpg);
    height: 950px;
    width: 100%;
    background-position: center;
    h2{
        font-size: 100px;
        text-transform: uppercase;
        font-family: $font-titulos;
        padding-top: 75px;
        padding-left: 75px;
        text-shadow: 0 0 5px $color3;
        color: $color1;
        span{
            display: block;
            
        }
    }
}

.info-dunk{
    margin-left: 82px;
    color: $color5;
    background-color: $color4;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 7px;
    padding: 7px;
    
    &:hover{
        color: $color2;
    }
}

.espacio-nuevos{
    box-shadow: 0 0 40px $color4;
    height: 7px;
}

.contenedor-nuevos-2{
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url(../aseets/jordan4-nuevos.jpg);
    height: 950px;
    width: 100%;
    background-position: center;
    box-shadow: 0 0 60px $color4;
    h2{
        font-size: 100px;
        text-transform: uppercase;
        font-family: $font-titulos;
        padding-top: 75px;
        padding-left: 75px;
        color: $color2;
        text-shadow: 0 0 50px $color1;
        span{
            display: block;
        }
    }
}

.info-jordan4{
    @extend .info-dunk;
    background-color: $color5;
    color: $color4;
    &:hover{
        color: $color1;
    }
    
}

.contenedor-nuevos-3{
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ) ,url(../aseets/Ja-nuevos.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 950px;
    width: 100%;
    background-position: center;
    h2{
        font-size: 100px;
        text-transform: uppercase;
        font-family: $font-titulos;
        padding-top: 75px;
        padding-left: 75px;
        color: $color4;
        text-shadow: 0 0 5px $color3;
        color: $color1;
        span{
            display: block;
        }
    }
}

.info-Ja1{
    @extend .info-dunk;
}

.proximos{
    height: 150px;
    width: 100%;
    background-color: $color4;
    text-align: center;
    box-shadow: 0 0 15px $color4;
    p{
        font-size: 40px;
        color: $color5;
        line-height: 150px;
    }
}

/* footer */

footer{
    background-color: $color1;
    height: 350px;
    box-shadow: 0 0 12px $color1;
}

.contenedor-footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-top: 150px;
    font-size: 17px
}

.contenedor-footer{
    li{
        list-style: none;
        color: $color3;
        padding: 3px;
    }
    
}

.contenedor-footer{
    a{
        text-decoration: none;
        color: $color3;
        &:hover{
            color: $color5;
        }
    }
    

}

.redes{
    font-size: 27px;
}

.contacto-icon{
    margin-right: 10px;
    font-size: 24px;
}

.titulo-list-footer{
    font-size: 27px;
    margin-bottom: 7px;
}

.text-footer{
    text-align: center;
    margin-top: 40px;
    color: $color3
}